package ${package}.${moduleName}.controller;

import java.util.Arrays;
import java.util.List;

import com.yh.web.BaseController;
import com.yh.web.entity.AjaxResult;
import com.yh.web.entity.R;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.RequestMapping;


import ${package}.${moduleName}.model.${className};
import ${package}.${moduleName}.service.${className}Service;


/**
 * ${comments}
 * @author ${author}
 * @date ${datetime}
 */
@Api(value = "${comments}Controller",tags = "${comments}接口")
@RestController
@RequestMapping("/${pathName}")
public class ${className}Controller extends BaseController{

    @Autowired
    private ${className}Service ${classname}Service;

    @GetMapping("/getPage")
    public R getPage(${className} ${classname}){
        PageInfo<${className}> page = ${classname}Service.getPage(${classname});
        return R.ok(page);
    }

    /**
     * 详细信息
     */
    @ApiOperation(value ="查询详细信息", notes = "查询详细信息")
    @GetMapping("/detail/{${pk.attrname}}")
    public R detail(@PathVariable("${pk.attrname}") ${pk.attrType} ${pk.attrname}){
		${className} ${classname} = ${classname}Service.getById(${pk.attrname});
        return R.ok(${classname});
    }

    @PostMapping("/saveOrUpdate")
    public AjaxResult save(@Validated @RequestBody ${className} ${classname}) {
		Boolean result = ${classname}Service.saveOrUpdate(${classname});
        return toAjax(result);
    }

    @DeleteMapping("/delete/{${pk.attrname}s}")
    public AjaxResult delete(@PathVariable String ${pk.attrname}s){
        Boolean result = ${classname}Service.hiddenByIds(Arrays.asList(${pk.attrname}s.split(",")));
        return toAjax(result);
    }

}
