package ${package}.${moduleName}.model.dto;

import io.swagger.annotations.ApiModelProperty;
import java.io.Serializable;
import lombok.Data;

/**
 * 分页查询对象
 * @author ${author}
 * @date ${datetime}
 */
@Data
public class Query${className}Dto extends PageMsg implements Serializable {
private static final long serialVersionUID = 1L;

    @ApiModelProperty(value = "查询条件样例id")
    private Long id;

}
