<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.mapper.${className}Mapper">

    <resultMap type="${package}.${moduleName}.model.${className}" id="${classname}Map">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}"/>
#end
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    #foreach($column in $columns)
        ${column.columnName},
    #end
    </sql>

    <select id="getNextId" resultType="java.lang.Long">
        select SEQ_${tableName}.nextval from dual
    </select>

    <select id="selectList" resultMap="${classname}Map">
        select <include refid="Base_Column_List"/>
        from ${tableName}
    </select>

    <update id="batchDelete">
        update ${tableName}
        set DELETE_TAG = #{deleteTag}, DELETE_TIME = #{deleteTime}
        <where>
            id in
            <foreach collection="list" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </where>
    </update>

</mapper>