package ${package}.${moduleName}.service;

import com.baomidou.mybatisplus.extension.service.IService;
import com.github.pagehelper.PageInfo;
import ${package}.${moduleName}.model.${className};
import ${package}.${moduleName}.model.dto. Query${className}Dto;

import java.util.List;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${className}Service extends IService<${className}> {


    PageInfo<${className}> getPage(${className} ${classname});

    Boolean saveOrUpdate(${className} ${classname});

    Boolean hiddenByIds(String ids);

}

